<div class='container my-5'>
    <div class='row text-center'>
        <div class='col-lg'>
            <img src='https://image.tmdb.org/t/p/w500/<%= @movie['poster_path'] %>' alt='<%= @movie['title'] %>'></img>
        </div>
        <div class='col-lg'>
            <h1>
                <%=
                    link_to @movie['title'],
                    @movie['homepage'],
                    target: :_blank
                %>
            </h1>

            <% if @movie && @movie['production_companies'][0] %>
                <h2>Created by <%= @movie['production_companies'][0]['name'] %></h2>
            <% end %>

            <% if @movie['genres'][0] %>
                <%= @movie['genres'][0]['name'] %>
            <% end %>
            <% if @movie['runtime'] %>
                | <%= @movie['runtime'] %> min(s)
            <% end %>
            <% if @movie['release_date'] %>
                | Released <%= @movie['release_date'] %>
            <% end %>

            <h3>Popularity Score: <%= @movie['popularity'] %></h3>

            <b>Overview:</b> <%= @movie['overview'] %>
        </div>
    </div>
</div>