<h1>Search for a show</h1>
<table>
    <tr>
        <%= form_tag api_index_path, {:method => :get} do %>
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag "⌕", :class => "search-submit" %>
        <% end %>
        
        <br><br>
        
        <% if @queried_shows && @queried_shows[0] %>
            <h2>Results for "<%= params[:query] %>"</h2>
            <% @queried_shows[0...7].each do |show| %>
                <td>
                        <% if show["poster_path"] %>
                            <%= 
                                link_to image_tag("https://image.tmdb.org/t/p/w500/#{show["poster_path"]}", 
                                alt:"#{show["name"]}"), 
                                show_path(show["id"]), 
                                :class => "img" 
                            %>
                        <% else %>
                            <div class="show-link">
                                <%= 
                                    link_to "Pictureless: #{show["name"]}", 
                                    show_path(show["id"]), 
                                    :class => "img" 
                                %>
                            </div>
                        <% end %>
                </td>
            <% end %>
        <% else %>
            <h2>&#9785; That's not a show &#9785;</h2>
        <% end %>
    </tr>
</table>
<h1>Popular Shows</h1>
<table>
    <tr>
        <% @popular_shows[0...7].each do |show| %>
        <td>
            <div>
                <%= 
                    link_to image_tag("https://image.tmdb.org/t/p/w185/#{show["poster_path"]}", 
                    alt:"#{show["name"]}"), 
                    show_path(show["id"]),
                    :class => "img" 
                %>
            </div>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @popular_shows[7...14].each do |show| %>
        <td>
            <div>
                <%= 
                    link_to image_tag("https://image.tmdb.org/t/p/w185/#{show["poster_path"]}", 
                    alt:"#{show["name"]}"), 
                    show_path(show["id"]),
                    :class => "img" 
                %>            </div>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @popular_shows[14...20].each do |show| %>
        <td>
            <div>
                <%= 
                    link_to image_tag("https://image.tmdb.org/t/p/w185/#{show["poster_path"]}", 
                    alt:"#{show["name"]}"), 
                    show_path(show["id"]),
                    :class => "img" 
                %>            </div>
        </td>
        <% end %>
        <td>
            <div>
                <div class="arrow">&#8594</div>
            </div>
        </td>
    </tr>
</table>
