<h1>Search for a show</h1>
<% form_tag(shows_path) do |f| %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
<% end %>
<h1>Popular Shows</h1>
<table>
    <tr>
        <% @popular_shows[0...7].each do |show| %>
        <td>
            <div>
                <img src="https://image.tmdb.org/t/p/w500/<%= show["poster_path"] %>" alt=<%= show["name"] %>></img>
            </div>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @popular_shows[7...14].each do |show| %>
        <td>
            <div>
                <img src="https://image.tmdb.org/t/p/w500/<%= show["poster_path"] %>" alt=<%= show["name"] %>></img>
            </div>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @popular_shows[14...20].each do |show| %>
        <td>
            <div>
                <img src="https://image.tmdb.org/t/p/w500/<%= show["poster_path"] %>" alt=<%= show["name"] %>></img>
            </div>
        </td>
        <% end %>
        <td>
            <div>
                <div class="arrow">&#8594</div>
            </div>
        </td>
    </tr>
</table>

