<div class="container">
    <div class="column">
        <img src="https://image.tmdb.org/t/p/w500/<%= @show["poster_path"] %>" alt="<%= @show["name"] %>" class="shows-img"></img>
    </div>
    <div class="column">
        <div class="row">
            <h1 class="title">
                <%= link_to @show["name"], @show["homepage"], target: :_blank %>
            </h1>
            <h2>Created by <%= @show["created_by"][0]["name"] %></h2>
        </div>
        <table>
            <tr>
                Genre: <%= @show["genres"][0]["name"] %> |
                <%= @show["number_of_seasons"] %> Seasons |
                <%= @show["number_of_episodes"] %> Episodes
            </tr>
        </table>
        <div class="row">
            <h3>Overview</h3> 
            <div>
                <%= @show["overview"] %>
            </div>
        </div>
        <div class="row">
            <h3>Popularity: <%= @show["popularity"] %></h3>
        </div>
    </div>
</div>