<!DOCTYPE html>
<html>
  <head>
    <title>Movie Search Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://banner2.kisspng.com/20180320/guw/kisspng-computer-icons-scene-film-icons-windows-scenes-for-5ab1073df22962.2379845815215511659919.jpg" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  </head>

  <body>
    <nav>
      <% if params[:mode] == "movie" %>
        <%= link_to 'Switch to TV Mode', root_path %>
      <% end %>
      <% if params[:mode] == "tv" %>
        <%= link_to 'Switch to Movie Mode', root_path({:mode => "movie"}) %>
      <% end %>
    </nav>
    
    <%= yield %>
    <%= yield :javascript %>
  </body>
</html>
